*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    }
    .all ::content{
        background: #f7f5f2;
    }
    html ::-webkit-scrollbar-track{
        background: transparent;
    }
    html ::-webkit-scrollbar-thumb{
        background: #b2744c;
        border-radius: 10px;
    }
    
    